---
import ParameterList from "./ParameterList.astro";
import ParameterDetail from "./ParameterDetail.astro";
import DescriptionBlock from "./DescriptionBlock.astro";
import type { MethodLike } from "../../schemas/client-package";
import { Badge } from "@astrojs/starlight/components";

interface Props {
  methods?: MethodLike[];
  title: string;
}

const { methods, title } = Astro.props;
---

{
  methods && (
    <>
      <h4>{title}</h4>
      <ul>
        {methods.map((method) => (
          <li>
            <code>{method.name}</code>
            {method.async && <code> async</code>}
            (<ParameterList params={method.params} />)
            {method.returns && (
              <>
                :{" "}
                {typeof method.returns === "string" ? (
                  <code>{method.returns}</code>
                ) : method.returns?.link ? (
                  <a href={method.returns.link}>
                    <code>{method.returns.name}</code>
                  </a>
                ) : (
                  <code>{method.returns?.name}</code>
                )}
              </>
            )}
            {method.languages && method.languages.length > 0 && (
              <div
                class="mt-1 flex items-center gap-2"
                title="This method is implemented only in these SDK languages"
              >
                <span class="text-xs text-gray-600 dark:text-gray-400">
                  Only in
                </span>
                {method.languages.map((lang) => (
                  <Badge text={lang} size="small" />
                ))}
              </div>
            )}
            <DescriptionBlock description={method.description} />
            <ParameterDetail params={method.params} />
          </li>
        ))}
      </ul>
    </>
  )
}
