---
import type { Param } from "../../schemas/client-package";

interface Props {
  params?: Param[];
}

const { params } = Astro.props;
---

{
  params?.map((param, idx) => (
    <>
      {idx > 0 && ", "}
      <code>
        {param.name}
        {param.optional ? "?" : ""}
      </code>
      :{" "}
      {typeof param.type === "string" ? (
        <code>{param.type}</code>
      ) : param.type.link ? (
        <a href={param.type.link}>
          <code>{param.type.name}</code>
        </a>
      ) : (
        <code>{param.type.name}</code>
      )}
    </>
  ))
}
